# Core ML / DL
tensorflow==2.15.0

# Data & ML
numpy
pandas
scipy
matplotlib
seaborn
joblib
tqdm

# MLOps
dvc
mlflow>=2.10.0
dagshub

# Utilities
gdown
pyYAML
types-PyYAML
python-box>=7.0.0
ensure>=1.0.4

# Web
Flask>=3.0.0
Flask-Cors>=4.0.0

# Local package
-e .

